.componentMargin {
    margin-top: 30px;
}

.question {
    padding-left: 18px;
}

.paraStyle {
    padding: 18px;
    text-align:justify;
}

.lengthFix {
    padding-right: 10px; 
    width: 500px;
    text-align: justify;
}

.editBtnMargin {
    margin-left: 10px;
}

.actionSpacing {
    padding-left: 155px;
}

.custom-btn {
    height: 30px;
    width: 90px;
}

.BtnsSpacing {
    padding-left: 100px;
}

.questionLevel {
    padding-left: 50px;
    text-align: center;
}

.fixBorderRadius {
    border-radius: 12px;
}


.centered-modal-dialog-custom {
    position: absolute;
    top: 35%;
    bottom: 50%;
    left: 40%;
    right: 50%;
    margin: auto;
    width: 50%;
    height: 50%;
}