<section class="background-radial-gradient">
  <style>
    .background-radial-gradient {
      background-color: hsl(0, 0%, 4%);
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      display: flex;
      background-image: radial-gradient(1200px circle at 0% 0%,
          hsl(180, 4%, 5%) 15%,
          hsl(0, 0%, 3%) 35%,
          hsl(214, 29%, 11%) 75%,
          hsl(210, 40%, 2%) 80%,
          transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
          hsl(220, 33%, 7%) 15%,
          hsl(216, 26%, 11%) 35%,
          hsl(216, 20%, 5%) 75%,
          hsl(218, 38%, 6%) 80%,
          transparent 100%);
    }
  </style>

  <div class="container px-4 py-4 px-md-5 text-center text-lg-start">
    <router-outlet></router-outlet>
  </div>

</section>